<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/dashboard.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body id="body">

    <div class="chatbox-container">

        <!-- navigation bar starts -->
        <nav class="navbar">
            <div id="left-navbar">
                <img src="./public/images/login-form.jpg"><span>
                    <p>ChatBoard</p>
                </span>
            </div>
            <a href=""><button class="btn btn-primary">Leave Room</button></a>
        </nav>
        <!-- navigation bar ends -->


        <!-- horizontal bar starts -->
        <div id="horizontal-line"></div>
        <!-- horizontal bar ends -->

        <section class="chat-box">

            <div id="left-sidebar">
                <div>
                    <p id="chatroom-title">Room (Sports)</p>
                    <p id="chatroom-title">User List</p>
                    <p>Messi</p>
                    <p>Ronaldo</p>
                    <p>Lord Abshishek</p>
                    <p>Zidane</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    <p>Prayoga</p>
                    <p>Sachin</p>
                    <p>Ujjwal</p>
                    
                </div>
            </div>

            <div class="chat-vertical-line"></div>


            <!-- chat box starts -->
            <div id="right-sidebar">

                <div class="message-collection">
                    <div class="message">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.</p>
                    </div>

                    <div class="message1">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.

                            If you would like to use the local version of the client-side JS file, you can find it at
                            node_modules/socket.io/client-dist/socket.io.js.

                            Notice that I’m not specifying any URL when I call io(), since it defaults to trying to
                            connect
                            to the host that serves the page.

                            If you now restart the process (by hitting Control+C and running node index.js again) and
                            then
                            refresh the webpage you should see the console print “a user connected”.

                            Try opening several tabs, and you’ll see several messages.</p>
                    </div>

                    <div class="message">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.

                            If you would like to use the local version of the client-side JS file, you can find it at
                            node_modules/socket.io/client-dist/socket.io.js.

                            Notice that I’m not specifying any URL when I call io(), since it defaults to trying to
                            connect
                            to the host that serves the page.

                            If you now restart the process (by hitting Control+C and running node index.js again) and
                            then
                            refresh the webpage you should see the console print “a user connected”.

                            Try opening several tabs, and you’ll see several messages.</p>
                    </div>


                    <div class="message1">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.

                            If you would like to use the local version of the client-side JS file, you can find it at
                            node_modules/socket.io/client-dist/socket.io.js.

                            Notice that I’m not specifying any URL when I call io(), since it defaults to trying to
                            connect
                            to the host that serves the page.

                            If you now restart the process (by hitting Control+C and running node index.js again) and
                            then
                            refresh the webpage you should see the console print “a user connected”.

                            Try opening several tabs, and you’ll see several messages.</p>
                    </div>

                    <div class="message">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.

                            If you would like to use the local version of the client-side JS file, you can find it at
                            node_modules/socket.io/client-dist/socket.io.js.

                            Notice that I’m not specifying any URL when I call io(), since it defaults to trying to
                            connect
                            to the host that serves the page.

                            If you now restart the process (by hitting Control+C and running node index.js again) and
                            then
                            refresh the webpage you should see the console print “a user connected”.

                            Try opening several tabs, and you’ll see several messages.</p>
                    </div>


                    <div class="message1">
                        <p id="message-username">nischal</p>
                        <p id="message-content">That’s all it takes to load the socket.io-client, which exposes an io
                            global
                            (and the endpoint GET /socket.io/socket.io.js), and then connect.
                        </p>
                    </div>
                </div>


                <!-- button start -->
                <section class="send-button">
                    <input type="text" name="msg" class="form-control">
                    <button class="btn btn-primary">send</button>
                </section>
                <!-- button ends -->


            </div>
            <!-- chat boxs end -->




        </section>

    </div>

</body>

</html>