<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/loginpage.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>CHAT APP</title>
</head>

<body style="font-family: 'Raleway', sans-serif;">
    <section class="login-form">
        <div id="chat-img"><img src="./public/images/login-form.jpg"></div>
        <div id="form-content">
            <p>User Login</p>
            <form action="./dashboard.html">
                <div>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="username"
                        placeholder="Username" required>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example" name="room">
                        <option selected>SELECT ROOM</option>
                        <option value="Sports">Sports</option>
                        <option value="Bussiness">Bussiness</option>
                        <option value="Photography">Photography</option>
                        <option value="Programming">Programming</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-success" style="width: 100%">Submit</button>
                </div>
            </form>
        </div>
    </section>
</body>

</html>